<div ng-include="'modules/home/home.menu.html'"></div>
<div class="page-element">
	<div ng-include="'modules/home/home.header.html'"></div>
	<md-content>
		<md-tabs md-dynamic-height="" md-border-bottom="">
			<md-tab label="Account Informations">	
				<md-content class="md-padding">
					<div>
						Login Name: {{vm.loginName}}<br/>
						Date Of Registration: {{vm.dateOfRegistration}}<br/>
						Role: {{vm.role}}<br/>
					</div>
				</md-content>
			</md-tab>
			<md-tab label="Personal Informations">
				<md-content class="md-padding">
					<div>
						First Name: {{vm.firstName}}<br/>
						Last Name: {{vm.lastName}}<br/>
						Gender: {{vm.gender | lowercase}}<br/>
						Date Of Birth: {{vm.dateOfBirth}}<br/>
						Nationality: {{vm.nationality}}<br/>
					</div>
				</md-content>
			</md-tab>
			<md-tab label="Work Informations">
				<md-content class="md-padding">
					<div>
						Position: {{vm.position}}<br/>
						Email Address: {{vm.emailAddress}}<br/>
						Daily Work Hour: {{vm.dailyWorkHourTotal}}<br/>
						Department: {{vm.departmentName}}<br/>
						Office: {{vm.officeName}}<br/>
					</div>
				</md-content>
			</md-tab>
			<md-tab label="Change Passwords">
				<md-content class="md-padding">
					<update-password></update-password>
				</md-content>
			</md-tab>
		</md-tabs>
	</md-content>
</div>