<div ng-include="'modules/home/home.menu.html'"></div>
<div class="page-element">
	<div ng-include="'modules/home/home.header.html'"></div>
	<md-content>
		<md-tabs md-dynamic-height="" md-border-bottom="">
			<md-tab label="Account Informations">	
				<md-content class="md-padding">
					<div>
						Login Name: {{profile.loginName}}<br/>
						Date Of Registration: {{profile.dateOfRegistration}}<br/>
						Role: {{profile.role}}<br/>
					</div>
				</md-content>
			</md-tab>
			<md-tab label="Personal Informations">
				<md-content class="md-padding">
					<div>
						First Name: {{profile.firstName}}<br/>
						Last Name: {{profile.lastName}}<br/>
						Gender: {{profile.gender | lowercase}}<br/>
						Date Of Birth: {{profile.dateOfBirth}}<br/>
						Nationality: {{profile.nationality}}<br/>
					</div>
				</md-content>
			</md-tab>
			<md-tab label="Work Informations">
				<md-content class="md-padding">
					<div>
						Position: {{profile.position}}<br/>
						Email Address: {{profile.emailAddress}}<br/>
						Daily Work Hour: {{profile.dailyWorkHourTotal}}<br/>
						Department: {{profile.departmentName}}<br/>
						Office: {{profile.officeName}}<br/>
					</div>
				</md-content>
			</md-tab>
			<md-tab label="Change Passwords">
				<md-content class="md-padding">
					<update-password></update-password>
				</md-content>
			</md-tab>
		</md-tabs>
	</md-content>
</div>