<div class="w3-border w3-round w3-padding-medium">
	<md-input-container style="margin-right: 10px">
		<label>Employee</label>
		<md-select ng-model="vm.selectedEmployeeEdit" md-on-close="vm.selectEmployeeForEdit()">
		  <md-option ng-repeat="employee in vm.employees" value="{{employee.id}}">{{employee.name}}</md-option>
		</md-select>
	</md-input-container>
	<br>
	<div class="w3-center" ng-show="vm.emptyEmployeeList">
		<p><b>The returned employee list is empty!</b></p>
	</div>
</div>

<form ng-show="vm.selectedEmployeeEdit !== ''" class="w3-border w3-round w3-padding-medium" ng-submit="vm.ChangeEmployeeData()">
	<h2>Edit Employee Worker Form</h2>
	<p><label class="w3-label">First Name</label></p>
	<input class="w3-input w3-border w3-padding-hor-16" id="textInput" placeholder="First Name" ng-model="vm.newFirstName" required/>

	<p><label class="w3-label">Last Name</label></p>
	<input class="w3-input w3-border w3-padding-hor-16" id="textInput" placeholder="Last Name" ng-model="vm.newLastName" required/>

	<p><label class="w3-label">Position</label></p>
	<input class="w3-input w3-border w3-padding-hor-16" id="textInput" placeholder="Position" ng-model="vm.newPosition" required/>

	<p><label class="w3-label">Email Address</label></p>
	<input class="w3-input w3-border w3-padding-hor-16" id="textInput" placeholder="Email Address" ng-model="vm.newEmailAddress" required/>

	<p><label class="w3-label">Daily Work Hour Total</label></p>
	<input class="w3-input w3-border w3-padding-hor-16" id="textInput" placeholder="Daily Work Hour Total" ng-model="vm.newDailyWorkHourTotal" required/>

	<div class="w3-padding-8">
		<input class="w3-btn w3-green w3-left-align" type="submit" value="Edit"></input>
	</div>
</form>