<form class="w3-border w3-round w3-padding-medium" ng-submit="vm.filterAbsence()">
	<md-input-container style="margin-right: 10px">
		<label>Employee</label>
		<md-select ng-model="vm.selectedEmployeeAbsence">
		  <md-option ng-repeat="employee in vm.employees" value="{{employee.id}}">{{employee.name}}</md-option>
		</md-select>
	</md-input-container>
	<md-input-container style="width: 140px">
		<label>Date Filter</label>
		<md-select ng-model="vm.selectedDateFilter">
		  <md-option ng-repeat="datefilter in vm.dateFilters" value="{{datefilter}}">{{datefilter}}</md-option>
		</md-select>
	</md-input-container>
	<br>
	<md-checkbox ng-model="vm.listNotAccepted" aria-label="Show not accepted absences only!">
		Show not accepted absences only!
	</md-checkbox>
	<div class="w3-padding-8">
		<input class="w3-btn w3-green w3-left-align" type="submit" value="Filter"></input>
	</div>
	<input class="w3-btn w3-green w3-padding-8" ng-click="vm.exportAdminAbsence(1)" value="Export In XLS"></input>
	<input class="w3-btn w3-green w3-padding-8" ng-click="vm.exportAdminAbsence(2)" value="Export In XLSX"></input>

	<div class="w3-center" ng-show="vm.emptyEmployeeList">
		<p><b>The returned employee list is empty!</b></p>
	</div>
	<div class="w3-center" ng-show="vm.emptyAbsenceList">
		<p><b>The returned absence list is empty!</b></p>
	</div>
</form>
<table class="w3-table-all w3-hoverable">
	<tr>
		<th ng-click="vm.setSearchTypeOrReverse('BeginDate')">
			Begin Date
			<span ng-show="vm.showDownCaret('BeginDate')" class="fa fa-caret-down"></span>
			<span ng-show="vm.showUpCaret('BeginDate')" class="fa fa-caret-up"></span>
		</th>
		<th ng-click="vm.setSearchTypeOrReverse('EndDate')">
			End Date
			<span ng-show="vm.showDownCaret('EndDate')" class="fa fa-caret-down"></span>
			<span ng-show="vm.showUpCaret('EndDate')" class="fa fa-caret-up"></span>
		</th>
		<th ng-click="vm.setSearchTypeOrReverse('AbsenceType')">
			AbsenceType
			<span ng-show="vm.showDownCaret('AbsenceType')" class="fa fa-caret-down"></span>
			<span ng-show="vm.showUpCaret('AbsenceType')" class="fa fa-caret-up"></span>
		</th>
		<th ng-click="vm.setSearchTypeOrReverse('Status')">
			Status
			<span ng-show="vm.showDownCaret('Status')" class="fa fa-caret-down"></span>
			<span ng-show="vm.showUpCaret('Status')" class="fa fa-caret-up"></span>
		</th>
		<th ng-click="vm.setSearchTypeOrReverse('Note')">
			Note
			<span ng-show="vm.showDownCaret('Note')" class="fa fa-caret-down"></span>
			<span ng-show="vm.showUpCaret('Note')" class="fa fa-caret-up"></span>
		</th>
		<th ng-click="vm.setSearchTypeOrReverse('DateOfRegistration')">
			Date Of Registration
			<span ng-show="vm.showDownCaret('DateOfRegistration')" class="fa fa-caret-down"></span>
			<span ng-show="vm.showUpCaret('DateOfRegistration')" class="fa fa-caret-up"></span>
		</th>
		<th ng-click="vm.setSearchTypeOrReverse('DateOfModification')">
			Date Of Modification
			<span ng-show="vm.showDownCaret('DateOfModification')" class="fa fa-caret-down"></span>
			<span ng-show="vm.showUpCaret('DateOfModification')" class="fa fa-caret-up"></span>
		</th>
	</tr>
	<tr ng-repeat="absence in vm.employeeAbsences | filter:vm.searchQuery | orderBy:vm.sortType:vm.sortReverse" class="w3-hover-light-green">
		<td>{{absence.beginDate}}</td>
		<td>{{absence.endDate}}</td>
		<td>{{absence.absenceType}}</td>
		<td>
			<div class="tooltip" ng-show="{{absence.status === 'NOT_SET'}}">
				<span class="fa fa-question w3-xlarge" ng-click="vm.acceptEmployeeAbsence($event, absence)"></span>
				<span class="tooltiptext">The status is Not Set</span>
			</div>
			<div class="tooltip" ng-show="{{absence.status === 'APPROVE'}}">
				<span class="fa fa-check w3-xlarge"></span>
				<span class="tooltiptext">The status is Approved</span>
			</div>
			<div class="tooltip" ng-show="{{absence.status === 'NOT_APPROVE'}}">
				<span class="fa fa-close w3-xlarge"></span>
				<span class="tooltiptext">The status is Not Approved</span>
			</div>
		</td>
		<td><div class="tooltip" ng-click="vm.updateAbsenceNote($event, absence)">
				<span class="fa fa-comment-o w3-xlarge"></span>
				<span class="tooltiptext">Update absence note!</span>
			</div>
			{{absence.note}}</td>
		<td>{{absence.dateOfRegistration}}</td>
		<td>{{absence.dateOfModification}}</td>
	</tr>
</table>