<div ng-controller="HomeController" ng-include="'modules/home/home.menu.html'"></div>
<div class="page-element">
	<div ng-include="'modules/home/home.header.html'"></div>
	<div ng-controller="WorklogController" ng-init="initWorklog()">
	
		<md-content>
			<md-tabs md-dynamic-height="" md-border-bottom="">
				<md-tab label="Create new worklog">	
					<md-content class="md-padding">
						<form class="w3-form w3-card-4 w3-margin" ng-submit="AddWorklog()" >
						
							<md-content>
								<p><label class="w3-label">Begin Date</label></p>
								<p><md-datepicker ng-model="beginDate" md-placeholder="Enter date"></md-datepicker>
							</md-content>

							<p><label class="w3-label">Work Hour</label></p>		
							<md-input-container>
								<label>Hour</label>
								<md-select ng-model="workHour">
									<md-option ng-repeat="hour in range(24) track by $index" value="{{$index+1}}">{{$index+1}}</md-option>
								</md-select>
							</md-input-container>

							<div class="w3-padding-8">
								<input class="w3-btn w3-green w3-left-align" type="submit" value="Add"></input>
							</div>
						</form>
					</md-content>
				</md-tab>
				<md-tab label="Show worklogs">
					<md-content class="md-padding">
						<div class="w3-border w3-round w3-padding-medium">
							<i class="fa fa-search w3-padding-left w3-padding-right"></i>
							<input type="text" placeholder="Search {{ sortType }}" ng-model="searchQuery"></input>
							<md-input-container style="width: 140px; padding-left: 15px">
									<label>Date Filter</label>
									<md-select ng-model="selectedDateFilter" md-on-close="GetWorklogs()">
									  <md-option ng-repeat="datefilter in dateFilters" value="{{datefilter}}">{{datefilter}}</md-option>
									</md-select>
							</md-input-container>
						</div>
						<table class="w3-table-all w3-hoverable">
							<tr>
								<th ng-click="setSearchTypeOrReverse('BeginDate')">
									Begin Date
									<span ng-show="showDownCaret('BeginDate')" class="fa fa-caret-down"></span>
									<span ng-show="showUpCaret('BeginDate')" class="fa fa-caret-up"></span>
								</th>
								<th ng-click="setSearchTypeOrReverse('Hour')">
									Hour
									<span ng-show="showDownCaret('Hour')" class="fa fa-caret-down"></span>
									<span ng-show="showUpCaret('Hour')" class="fa fa-caret-up"></span>
								</th>
								<th id="tableOperation"></th>
							</tr>
							<tr ng-repeat="worklog in worklogs | filter:searchQuery | orderBy:sortType:sortReverse" class="w3-hover-light-green">
								<td>{{worklog.beginDate}}</td>
								<td>{{worklog.workHour}}</td>
								<td><span class="fa fa-trash w3-xlarge" ng-click="DeleteWorklog($event, worklog)"></span> <span class="fa fa-edit w3-xlarge" ng-click="EditWorklog($event, worklog)"></span></td>
							</tr>
						</table>
					</md-content>
				</md-tab>
    
			</md-tabs>
		</md-content>
	</div>
</div>