<div class="tab">
	<form class="w3-form w3-card-4 w3-margin" ng-submit="addWorklog()" >
		<md-content>
			<p><label class="w3-label">Begin Date</label></p>
			<p><md-datepicker ng-model="beginDate" md-placeholder="Enter date"></md-datepicker>
			<md-input-container>
				<label>Hour</label>
				<md-select ng-model="begin.hour">
					<md-option ng-repeat="hour in range(24) track by $index" value="{{timeValue($index)}}">{{timeValue($index)}}</md-option>
				</md-select>
			</md-input-container>
			<md-input-container>
				<label>Min</label>
				<md-select ng-model="begin.min">
					<md-option ng-repeat="min in range(60) track by $index" value="{{timeValue($index)}}">{{timeValue($index)}}</md-option>
				</md-select>
			</md-input-container></p>
			<p><label class="w3-label">Work Hour</label></p>		
			<md-input-container>
				<label>Hour</label>
				<md-select ng-model="workHour">
					<md-option ng-repeat="hour in range(24) track by $index" value="{{$index+1}}">{{$index+1}}</md-option>
				</md-select>
			</md-input-container>
		</md-content>
		<div class="w3-padding-8">
			<input class="w3-btn w3-green w3-left-align" type="submit" value="Add"></input>
		</div>
	</form>
</div>