<div ng-controller="HomeController" ng-include="'modules/home/home.menu.html'"></div>
<div class="page-element">
	<div ng-include="'modules/home/home.header.html'"></div>
	<div ng-controller="WorklogController" ng-init="initWorklog()">
		<ul class="w3-navbar w3-teal w3-border w3-large">
			<li ng-repeat="tab in tabs" ng-class="{active:isActiveTab(tab.url)}"><a ng-click="onClickTab(tab)">{{tab.title}}</a></li>
		</ul>
		<div id="tabView">
			<div ng-include="currentTab"></div>
		</div>
	</div>
</div>