<div class="tab" >
	<div class="w3-border w3-round w3-padding-medium">
		<i class="fa fa-search w3-padding-left w3-padding-right"></i>
		<input type="text" placeholder="Search {{ sortType }}" ng-model="searchQuery"></input>
	</div>
	
	<table class="w3-table-all w3-hoverable">
		<tr>
			<th ng-click="setSearchTypeOrReverse('Begin')">
				Begin				
				<span ng-show="showDownCaret('Begin')" class="fa fa-caret-down"></span>
				<span ng-show="showUpCaret('Begin')" class="fa fa-caret-up"></span>
			</th>
			<th ng-click="setSearchTypeOrReverse('Hour')">
				Hour				
				<span ng-show="showDownCaret('Hour')" class="fa fa-caret-down"></span>
				<span ng-show="showUpCaret('Hour')" class="fa fa-caret-up"></span>
			</th>
			<th id="tableOperation"></th>
		</tr>
		<tr ng-repeat="worklog in worklogs | filter:searchQuery | orderBy:sortType:sortReverse" class="w3-hover-light-green">
			<td>{{worklog.begin}}</td>
			<td>{{worklog.workHour}}</td>
			<td><span class="fa fa-trash w3-xlarge" ng-click="DeleteWorklog($event, worklog)"> <span class="fa fa-edit w3-xlarge" ng-click="EditWorklog($event, worklog)"></span></td>
		</tr>
	</table>
</div>