
<nav class="w3-sidenav w3-collapse w3-white w3-card-2">
	<a href="javascript:void(0)" onclick="menu_close()" class="w3-text-teal w3-hide-large w3-closenav w3-large">Close <i class="fa fa-remove"></i></a>
	<a class="w3-hover-text-blue" ng-repeat="link in links" href="{{link.url}}">{{link.title}}</a>
	<a class="w3-hover-text-blue" href="" ng-controller="LoginController" ng-click="logout()">Logout</a>
</nav>
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="menu_close()" style="cursor:pointer"></div>