<div class="w3-border w3-round w3-padding-medium">
	<i class="fa fa-search w3-padding-left w3-padding-right"></i>
	<input type="text" placeholder="Search {{ vm.sortType }}" ng-model="vm.searchQuery"></input>
	<md-input-container style="width: 140px; padding-left: 15px">
			<label>Date Filter</label>
			<md-select ng-model="vm.selectedDateFilter" md-on-close="vm.getAbsences()">
			  <md-option ng-repeat="datefilter in vm.dateFilters" value="{{datefilter}}">{{datefilter}}</md-option>
			</md-select>
	</md-input-container>
	<input class="w3-btn w3-green w3-padding-tiny" ng-click="vm.exportAbsence(1)" value="Export In XLS"></input>
	<input class="w3-btn w3-green w3-padding-tiny" ng-click="vm.exportAbsence(2)" value="Export In XLSX"></input>
</div>

<table class="w3-table-all w3-hoverable">
	<tr>
		<th ng-click="vm.setSearchTypeOrReverse('BeginDate')">
			Begin Date
			<span ng-show="vm.showDownCaret('BeginDate')" class="fa fa-caret-down"></span>
			<span ng-show="vm.showUpCaret('BeginDate')" class="fa fa-caret-up"></span>
		</th>
		<th ng-click="vm.setSearchTypeOrReverse('EndDate')">
			End Date
			<span ng-show="vm.showDownCaret('EndDate')" class="fa fa-caret-down"></span>
			<span ng-show="vm.showUpCaret('EndDate')" class="fa fa-caret-up"></span>
		</th>
		<th ng-click="vm.setSearchTypeOrReverse('AbsenceType')">
			AbsenceType
			<span ng-show="vm.showDownCaret('AbsenceType')" class="fa fa-caret-down"></span>
			<span ng-show="vm.showUpCaret('AbsenceType')" class="fa fa-caret-up"></span>
		</th>
		<th ng-click="vm.setSearchTypeOrReverse('Status')">
			Status
			<span ng-show="vm.showDownCaret('Status')" class="fa fa-caret-down"></span>
			<span ng-show="vm.showUpCaret('Status')" class="fa fa-caret-up"></span>
		</th>
		<th id="signs"></th>
		<th id="tableOperation"></th>
	</tr>
	<tr ng-repeat="absence in vm.absences | filter:vm.searchQuery | orderBy:vm.sortType:vm.sortReverse" class="w3-hover-light-green">
		<td>{{absence.beginDate}}</td>
		<td>{{absence.endDate}}</td>
		<td>{{absence.absenceType}}</td>
		<td>{{absence.status}}</td>
		<td>
			<div class="tooltip" ng-show="{{absence.status !== 'APPROVE'}}">
				<span class="fa fa-question w3-xlarge"></span>
				<span class="tooltiptext">The status is not Approved</span>
			</div>
			<div class="tooltip" ng-show="{{absence.status === 'APPROVE'}}">
				<span class="fa fa-check w3-xlarge"></span>
				<span class="tooltiptext">The status is Approved</span>
			</div>
		</td>
		<td>
			<div class="tooltip">
				<span class="fa fa-trash w3-xlarge" ng-click="vm.deleteAbsence($event, absence)"></span>
				<span class="tooltiptext">Delete Absence</span>
			</div>
			<div class="tooltip">
				<span class="fa fa-edit w3-xlarge" ng-click="vm.editAbsence($event, absence)"></span>
				<span class="tooltiptext">Edit Absence</span>
			</div>
		</td>
	</tr>
</table>