<div ng-include="'modules/home/home.menu.html'"></div>
<div class="page-element">
	<div ng-include="'modules/home/home.header.html'"></div>
	<md-content>
		<md-tabs md-dynamic-height="" md-border-bottom="">
			<md-tab label="View Employee Worklog">	
				<md-content class="md-padding">
					<administration-worklog-table employees="vm.employees"></administration-worklog-table>
				</md-content>
			</md-tab>
			<md-tab label="View Employee Absence">
				<md-content class="md-padding">
					<administration-absence-table employees="vm.employees"></administration-absence-table>
				</md-content>
			</md-tab>
			<md-tab label="Change Employee Worker Data">
				<md-content class="md-padding">
					<employee-form employees="vm.employees"></employee-form>
				</md-content>
			</md-tab>
		</md-tabs>
	</md-content>
</div>