body {
    margin: 0;
    padding: 0;
}
.menu {
	position: fixed;
	margin-left:15%;
	width: 11%;
	display: block;
}
.page-element {
    position: absolute;
	width: 59.5%;
	margin-left:25.5%;
	margin-right:15%;
}
.active {
    color: Aqua;
}
.tab{
	padding-top: 50px;
}