<div class="login-header">
	<form class="w3-form w3-margin" name="form" ng-controller="LoginController as login" ng-submit="login.login()">
		<div class="w3-container w3-teal">
			<h2>Login</h2>
		</div>
		<input class="w3-input w3-border w3-padding-hor-16" placeholder="User Name" type="text" ng-model="login.loginName" required>
        <input class="w3-input w3-border w3-padding-hor-16" placeholder="Password" type="password" ng-model="login.password" required>
        <input class="w3-btn-block w3-teal w3-left-align w3-large" type="submit" value="Enter">
		<div class="w3-container w3-red w3-center" ng-show="login.error">
			<p>Wrong Username or Password!</p>
			<p ng-bind="login.errorMessage"></p>
		</div>
	</form>
</div>