<div class="tab">
	<table class="w3-table-all w3-hoverable">
		<tr>
			<th ng-click="setSearchTypeOrReverse('Year')">
				Year				
				<span ng-show="showDownCaret('Year')" class="fa fa-caret-down"></span>
				<span ng-show="showUpCaret('Year')" class="fa fa-caret-up"></span>
			</th>
			<th ng-click="setSearchTypeOrReverse('HolidayNumber')">
				HolidayNumber
				<span ng-show="showDownCaret('HolidayNumber')" class="fa fa-caret-down"></span>
				<span ng-show="showUpCaret('HolidayNumber')" class="fa fa-caret-up"></span>
			</th>
			<th ng-click="setSearchTypeOrReverse('AllAbsenceNumber')">
				AllAbsenceNumber
				<span ng-show="showDownCaret('AllAbsenceNumber')" class="fa fa-caret-down"></span>
				<span ng-show="showUpCaret('AllAbsenceNumber')" class="fa fa-caret-up"></span>
			</th>
			<th ng-click="setSearchTypeOrReverse('NotSetAbsenceNumber')">
				NotSetAbsenceNumber
				<span ng-show="showDownCaret('NotSetAbsenceNumber')" class="fa fa-caret-down"></span>
				<span ng-show="showUpCaret('NotSetAbsenceNumber')" class="fa fa-caret-up"></span>
			</th>
			<th ng-click="setSearchTypeOrReverse('PayedAbsenceNumber')">
				PayedAbsenceNumber
				<span ng-show="showDownCaret('PayedAbsenceNumber')" class="fa fa-caret-down"></span>
				<span ng-show="showUpCaret('PayedAbsenceNumber')" class="fa fa-caret-up"></span>
			</th>
			<th ng-click="setSearchTypeOrReverse('UnPayedAbsenceNumber')">
				UnPayedAbsenceNumber
				<span ng-show="showDownCaret('UnPayedAbsenceNumber')" class="fa fa-caret-down"></span>
				<span ng-show="showUpCaret('UnPayedAbsenceNumber')" class="fa fa-caret-up"></span>
			</th>
			<th ng-click="setSearchTypeOrReverse('SickPayedAbsenceNumber')">
				SickPayedAbsenceNumber
				<span ng-show="showDownCaret('SickPayedAbsenceNumber')" class="fa fa-caret-down"></span>
				<span ng-show="showUpCaret('SickPayedAbsenceNumber')" class="fa fa-caret-up"></span>
			</th>
			<th ng-click="setSearchTypeOrReverse('VerifiedPayedAbsenceNumber')">
				VerifiedPayedAbsenceNumber
				<span ng-show="showDownCaret('VerifiedPayedAbsenceNumber')" class="fa fa-caret-down"></span>
				<span ng-show="showUpCaret('VerifiedPayedAbsenceNumber')" class="fa fa-caret-up"></span>
			</th>
		</tr>
		<tr ng-repeat="absenceData in absenceDatas | orderBy:sortType:sortReverse" class="w3-hover-light-green">
			<td>{{absenceData.year}}</td>
			<td>{{absenceData.holidayNumber}}</td>
			<td>{{absenceData.absenceNumber}}</td>
			<td>{{absenceData.notSetAbsenceNumber}}</td>
			<td>{{absenceData.payedAbsenceNumber}}</td>
			<td>{{absenceData.unPayedAbsenceNumber}}</td>
			<td>{{absenceData.sickPayedAbsenceNumber}}</td>
			<td>{{absenceData.verifiedAbsenceNumber}}</td>
		</tr>
	</table>
</div>