<div class="tab">
	<form class="w3-form w3-card-4 w3-margin" ng-submit="addAbsence()">
		<label class="w3-label">Begin Date</label>
		<input class="w3-input w3-padding-hor-16" placeholder="Example: 2016-05-29" type="text" ng-model="begin" required></input>
		<label class="w3-label">End Date</label>
		<input class="w3-input w3-padding-hor-16" placeholder="Example: 2016-05-30" type="text" ng-model="end" required></input>
		<label class="w3-label">Description</label>
		<input class="w3-input w3-padding-hor-16" placeholder="Finished project" type="text" ng-model="description"></input>
		
		<p><label class="w3-label">Absence Type</label></p>
		
		<p><input class="w3-radio w3-padding-hor-16" type="radio" name="gender" ng-model="absenceType" value="1" checked></input>
		<label class="w3-validate">Payed</label></p>

		<p><input class="w3-radio w3-padding-hor-16" type="radio" name="gender" ng-model="absenceType" value="2"></input>
		<label class="w3-validate">Unpayed</label></p>

		<p><input class="w3-radio w3-padding-hor-16" type="radio" name="gender" ng-model="absenceType" value="3"></input>
		<label class="w3-validate">Sick Pay</label></p>

		<p><input class="w3-radio w3-padding-hor-16" type="radio" name="gender" ng-model="absenceType" value="4"></input>
		<label class="w3-validate">Verified</label></p>
		<div class="w3-padding-8">
			<input class="w3-btn w3-green w3-left-align" type="submit" value="Add"></input>
		</div>
	</form>
</div>
  