<div ng-controller="HomeController" ng-include="'modules/home/home.menu.html'"></div>
<div class="page-element">
	<div ng-include="'modules/home/home.header.html'"></div>
	<div ng-controller="AbsenceController" ng-init="initAbsence()" layout="column" >
	
		<md-content>
			<md-tabs md-dynamic-height="" md-border-bottom="">
				<md-tab label="Create New Absence">
					<md-content class="md-padding">
						<form class="w3-form w3-card-4 w3-margin" ng-submit="AddAbsence()">
							<md-content>
								<p><label class="w3-label">Begin Date</label></p>
								<p><md-datepicker ng-model="beginDate" md-placeholder="Enter date"></md-datepicker></p>
								<p><label class="w3-label">End Date</label></p>
								<p><md-datepicker ng-model="endDate" md-placeholder="Enter date"></md-datepicker></p>
							</md-content>

							<p><label class="w3-label">Absence Type</label></p>

							<p><input class="w3-radio w3-padding-hor-16" type="radio" ng-model="absenceType" value="PAYED" ng-checked="true"/>
							<label class="w3-validate">Payed</label></p>

							<p><input class="w3-radio w3-padding-hor-16" type="radio" ng-model="absenceType" value="UNPAYED"/>
							<label class="w3-validate">Unpayed</label></p>

							<p><input class="w3-radio w3-padding-hor-16" type="radio" ng-model="absenceType" value="SICK_PAY"/>
							<label class="w3-validate">Sick Pay</label></p>

							<p><input class="w3-radio w3-padding-hor-16" type="radio" ng-model="absenceType" value="VERIFIED"/>
							<label class="w3-validate">Verified</label></p>
							<div class="w3-padding-8">
								<input class="w3-btn w3-green w3-left-align" type="submit" value="Add"></input>
							</div>
						</form>
					</md-content>
				</md-tab>
				<md-tab label="Show Absences">
					<md-content class="md-padding">
						<div class="w3-border w3-round w3-padding-medium">
							<i class="fa fa-search w3-padding-left w3-padding-right"></i>
							<input type="text" placeholder="Search {{ sortType }}" ng-model="searchQuery"></input>
						</div>

						<table class="w3-table-all w3-hoverable">
							<tr>
								<th ng-click="setSearchTypeOrReverse('BeginDate')">
									Begin Date
									<span ng-show="showDownCaret('BeginDate')" class="fa fa-caret-down"></span>
									<span ng-show="showUpCaret('BeginDate')" class="fa fa-caret-up"></span>
								</th>
								<th ng-click="setSearchTypeOrReverse('EndDate')">
									End Date
									<span ng-show="showDownCaret('EndDate')" class="fa fa-caret-down"></span>
									<span ng-show="showUpCaret('EndDate')" class="fa fa-caret-up"></span>
								</th>
								<th ng-click="setSearchTypeOrReverse('AbsenceType')">
									AbsenceType
									<span ng-show="showDownCaret('AbsenceType')" class="fa fa-caret-down"></span>
									<span ng-show="showUpCaret('AbsenceType')" class="fa fa-caret-up"></span>
								</th>
								<th ng-click="setSearchTypeOrReverse('Status')">
									Status
									<span ng-show="showDownCaret('Status')" class="fa fa-caret-down"></span>
									<span ng-show="showUpCaret('Status')" class="fa fa-caret-up"></span>
								</th>
								<th id="tableOperation"></th>
							</tr>
							<tr ng-repeat="absence in absences | filter:searchQuery | orderBy:sortType:sortReverse" class="w3-hover-light-green">
								<td>{{absence.beginDate}}</td>
								<td>{{absence.endDate}}</td>
								<td>{{absence.absenceType}}</td>
								<td>{{absence.status}}</td>
								<td><span class="fa fa-trash w3-xlarge" ng-click="DeleteAbsence($event, absence)"></span> <span class="fa fa-edit w3-xlarge" ng-click="EditAbsence($event, absence)"></span></td>
							</tr>
						</table>
					</md-content>
				</md-tab>
				<md-tab label="Absence Informations">
					<md-content class="md-padding">
						<table class="w3-table-all w3-hoverable">
							<tr>
								<th ng-click="setSearchTypeOrReverse('Year')">
									Year
									<span ng-show="showDownCaret('Year')" class="fa fa-caret-down"></span>
									<span ng-show="showUpCaret('Year')" class="fa fa-caret-up"></span>
								</th>
								<th ng-click="setSearchTypeOrReverse('HolidayNumber')">
									Holiday Number
									<span ng-show="showDownCaret('HolidayNumber')" class="fa fa-caret-down"></span>
									<span ng-show="showUpCaret('HolidayNumber')" class="fa fa-caret-up"></span>
								</th>
								<th ng-click="setSearchTypeOrReverse('AllAbsenceNumber')">
									All Absence Number
									<span ng-show="showDownCaret('AllAbsenceNumber')" class="fa fa-caret-down"></span>
									<span ng-show="showUpCaret('AllAbsenceNumber')" class="fa fa-caret-up"></span>
								</th>
								<th ng-click="setSearchTypeOrReverse('NotSetAbsenceNumber')">
									Not Set Absence Number
									<span ng-show="showDownCaret('NotSetAbsenceNumber')" class="fa fa-caret-down"></span>
									<span ng-show="showUpCaret('NotSetAbsenceNumber')" class="fa fa-caret-up"></span>
								</th>
								<th ng-click="setSearchTypeOrReverse('PayedAbsenceNumber')">
									Payed Absence Number
									<span ng-show="showDownCaret('PayedAbsenceNumber')" class="fa fa-caret-down"></span>
									<span ng-show="showUpCaret('PayedAbsenceNumber')" class="fa fa-caret-up"></span>
								</th>
								<th ng-click="setSearchTypeOrReverse('UnPayedAbsenceNumber')">
									UnPayed Absence Number
									<span ng-show="showDownCaret('UnPayedAbsenceNumber')" class="fa fa-caret-down"></span>
									<span ng-show="showUpCaret('UnPayedAbsenceNumber')" class="fa fa-caret-up"></span>
								</th>
								<th ng-click="setSearchTypeOrReverse('SickPayedAbsenceNumber')">
									Sick Payed Absence Number
									<span ng-show="showDownCaret('SickPayedAbsenceNumber')" class="fa fa-caret-down"></span>
									<span ng-show="showUpCaret('SickPayedAbsenceNumber')" class="fa fa-caret-up"></span>
								</th>
								<th ng-click="setSearchTypeOrReverse('VerifiedPayedAbsenceNumber')">
									Verified Payed Absence Number
									<span ng-show="showDownCaret('VerifiedPayedAbsenceNumber')" class="fa fa-caret-down"></span>
									<span ng-show="showUpCaret('VerifiedPayedAbsenceNumber')" class="fa fa-caret-up"></span>
								</th>
							</tr>
							<tr ng-repeat="absenceData in absenceDatas | orderBy:sortType:sortReverse" class="w3-hover-light-green">
								<td>{{absenceData.year}}</td>
								<td>{{absenceData.holidayNumber}}</td>
								<td>{{absenceData.absenceNumber}}</td>
								<td>{{absenceData.notSetAbsenceNumber}}</td>
								<td>{{absenceData.payedAbsenceNumber}}</td>
								<td>{{absenceData.unPayedAbsenceNumber}}</td>
								<td>{{absenceData.sickPayedAbsenceNumber}}</td>
								<td>{{absenceData.verifiedAbsenceNumber}}</td>
							</tr>
						</table>
					</md-content>
				</md-tab>
			</md-tabs>
		</md-content>
	</div>
</div>