<div ng-include="'modules/home/home.menu.html'"></div>
<div class="page-element">
	<div ng-include="'modules/home/home.header.html'"></div>
	<div layout="column">
		<md-content>
			<md-tabs md-dynamic-height="" md-border-bottom="">
				<md-tab label="Create New Absence">
					<md-content class="md-padding">
						<absence-form></absence-form>
					</md-content>
				</md-tab>
				<md-tab label="Show Absences">
					<md-content class="md-padding">
						<absence-table></absence-table>
					</md-content>
				</md-tab>
				<md-tab label="Absence Informations">
					<md-content class="md-padding">
						<absence-show-data></absence-show-data>
					</md-content>
				</md-tab>
			</md-tabs>
		</md-content>
	</div>
</div>