<div class="editEDialog" ng-controller="AbsenceEditController as vm">
	<h2>Edit Absence</h2>
	<form ng-submit="vm.editAbsence()">
		<md-content>
			<p><label class="w3-label">Begin Date</label></p>
			<p><md-datepicker ng-model="vm.newBeginDate" md-placeholder="Enter date"></md-datepicker></p>
			<p><label class="w3-label">End Date</label></p>
			<p><md-datepicker ng-model="vm.newEndDate" md-placeholder="Enter date"></md-datepicker></p>
		</md-content>

		<p><label class="w3-label">Absence Type</label></p>

		<p><input class="w3-radio w3-padding-hor-16" type="radio" ng-model="vm.newAbsenceType" value="PAYED"/>
		<label class="w3-validate">Payed</label></p>

		<p><input class="w3-radio w3-padding-hor-16" type="radio" ng-model="vm.newAbsenceType" value="UNPAYED"/>
		<label class="w3-validate">Unpayed</label></p>

		<p><input class="w3-radio w3-padding-hor-16" type="radio" ng-model="vm.newAbsenceType" value="SICK_PAY"/>
		<label class="w3-validate">Sick Pay</label></p>

		<p><input class="w3-radio w3-padding-hor-16" type="radio" ng-model="vm.newAbsenceType" value="VERIFIED"/>
		<label class="w3-validate">Verified</label></p>

		<div class="w3-container w3-red w3-center" ng-show="vm.error">
			<p>Error occured!</p>
		</div>
		
		<div class="w3-padding-8">
			<input class="w3-btn w3-green w3-left-align" type="submit" value="Edit"></input>
		</div>
	</form>
</div>