<table class="w3-table-all w3-hoverable">
	<tr>
		<th ng-click="vm.setSearchTypeOrReverse('Year')">
			Year
			<span ng-show="vm.showDownCaret('Year')" class="fa fa-caret-down"></span>
			<span ng-show="vm.showUpCaret('Year')" class="fa fa-caret-up"></span>
		</th>
		<th ng-click="setSearchTypeOrReverse('HolidayNumber')">
			Holiday Number
			<span ng-show="vm.showDownCaret('HolidayNumber')" class="fa fa-caret-down"></span>
			<span ng-show="vm.showUpCaret('HolidayNumber')" class="fa fa-caret-up"></span>
		</th>
		<th ng-click="vm.setSearchTypeOrReverse('AllAbsenceNumber')">
			All Absence Number
			<span ng-show="vm.showDownCaret('AllAbsenceNumber')" class="fa fa-caret-down"></span>
			<span ng-show="vm.showUpCaret('AllAbsenceNumber')" class="fa fa-caret-up"></span>
		</th>
		<th ng-click="vm.setSearchTypeOrReverse('NotSetNumber')">
			Not Set Number
			<span ng-show="vm.showDownCaret('NotSetNumber')" class="fa fa-caret-down"></span>
			<span ng-show="vm.showUpCaret('NotSetNumber')" class="fa fa-caret-up"></span>
		</th>
		<th ng-click="vm.setSearchTypeOrReverse('PayedNumber')">
			Payed Number
			<span ng-show="vm.showDownCaret('PayedNumber')" class="fa fa-caret-down"></span>
			<span ng-show="vm.showUpCaret('PayedNumber')" class="fa fa-caret-up"></span>
		</th>
		<th ng-click="vm.setSearchTypeOrReverse('UnPayedNumber')">
			UnPayed Number
			<span ng-show="vm.showDownCaret('UnPayedNumber')" class="fa fa-caret-down"></span>
			<span ng-show="vm.showUpCaret('UnPayedNumber')" class="fa fa-caret-up"></span>
		</th>
		<th ng-click="vm.setSearchTypeOrReverse('SickPayedNumber')">
			Sick Payed Number
			<span ng-show="vm.showDownCaret('SickPayedNumber')" class="fa fa-caret-down"></span>
			<span ng-show="vm.showUpCaret('SickPayedNumber')" class="fa fa-caret-up"></span>
		</th>
		<th ng-click="vm.setSearchTypeOrReverse('VerifiedPayedNumber')">
			Verified Payed Number
			<span ng-show="vm.showDownCaret('VerifiedPayedNumber')" class="fa fa-caret-down"></span>
			<span ng-show="vm.showUpCaret('VerifiedPayedNumber')" class="fa fa-caret-up"></span>
		</th>
	</tr>
	<tr ng-repeat="absenceData in vm.absenceDatas | orderBy:vm.sortType:vm.sortReverse" class="w3-hover-light-green">
		<td>{{absenceData.year}}</td>
		<td>{{absenceData.holidayNumber}}</td>
		<td>{{absenceData.absenceNumber}}</td>
		<td>{{absenceData.notSetNumber}}</td>
		<td>{{absenceData.payedNumber}}</td>
		<td>{{absenceData.unPayedNumber}}</td>
		<td>{{absenceData.sickPayedNumber}}</td>
		<td>{{absenceData.verifiedNumber}}</td>
	</tr>
</table>