<div ng-controller="HomeController" ng-include="'modules/home/home.menu.html'"></div>
<div class="page-element">
	<div ng-include="'modules/home/home.header.html'"></div>
	<div ng-controller="AdditionController" ng-init="init()">
		<md-content>
			<md-tabs md-dynamic-height="" md-border-bottom="">
				<md-tab label="Office and Department Management">
					<md-content class="md-padding">
						<div class="w3-border w3-round w3-padding-medium">
							<md-input-container style="width: 140px; padding-left: 15px">
								<label>Offices</label>
								<md-select ng-model="selectedOfficeName" md-on-close="setDepartments()" md-on-open="openSelect()">
									<md-option ng-repeat="office in offices" value="{{office.name}}">{{office.name}}</md-option>
								</md-select>
							</md-input-container>
							<md-input-container style="width: 140px; padding-left: 15px">
								<label>Departments</label>
								<md-select ng-model="selectedDepartmentName" md-on-close="listInformation()">
									<md-option ng-repeat="department in departmentsForOffice" value="{{department.name}}">{{department.name}}</md-option>
								</md-select>
							</md-input-container>
							<br>
							<div ng-show="showODInformation">
								<div class="tooltip">
									<span class="fa fa-edit w3-xlarge" ng-click="openEditOffice()"></span>
									<span class="tooltiptext">Edit Office</span>
								</div> Office: <br>
								<div class="w3-margin-left">
									Name: {{officeName}}<br>
									Address: {{officeAddress}}<br>
									Date Of Foundation: {{officeDateOfFoundtation}}<br>
									Number Of Worker: {{officeWorkerNumber}}<br>
								</div>
								<div class="tooltip">
									<span class="fa fa-edit w3-xlarge" ng-click="openEditDepartment()"></span>
									<span class="tooltiptext">Edit Department</span>
								</div> Department: <br>
								<div class="w3-margin-left">
									Name: {{departmentName}}<br>
									Date Of Foundation: {{departmentDateOfFoundtation}}<br>
									Number Of Worker: {{departmentWorkerNumber}}<br>
								</div>
							</div>
							<br>
							<input class="w3-btn w3-green w3-padding-tiny" ng-click="openSaveOffice()" value="Add New Office"></input>
							<input class="w3-btn w3-green w3-padding-tiny" ng-click="openSaveDepartment()" value="Add New Department"></input>
						</div>
						<div>
							<form ng-show="showEditOfficeForm" ng-submit="editOffice()">
								<h2>Edit Office Form</h2>
								<p><label class="w3-label">Name:</label></p>
								<input class="w3-input w3-border w3-padding-hor-16" id="textInput" placeholder="Name" ng-model="officeName" required>

								<p><label class="w3-label">Address:</label></p>
								<input class="w3-input w3-border w3-padding-hor-16" id="textInput" placeholder="Address" ng-model="officeAddress" required>

								<md-content>
									<p><label class="w3-label">Date Of Foundation:</label></p>
									<p><md-datepicker ng-model="officeDateOfFoundtationForEdit" md-placeholder="Date Of Foundation"></md-datepicker>
								</md-content>

								<div class="w3-padding-8">
									<input class="w3-btn w3-green w3-left-align" type="submit" value="Edit"></input>
								</div>
							</form>
						</div>
						<div>
							<form ng-show="showEditDepartmentForm" ng-submit="editDepartment()">
								<h2>Edit Department Form</h2>
								<p><label class="w3-label">Name:</label></p>
								<input class="w3-input w3-border w3-padding-hor-16" id="textInput" placeholder="Name" ng-model="departmentName" required>

								<md-content>
									<p><label class="w3-label">Date Of Foundation:</label></p>
									<p><md-datepicker ng-model="departmentDateOfFoundtationForEdit" md-placeholder="Date Of Foundation"></md-datepicker>
								</md-content>

								<div class="w3-padding-8">
									<input class="w3-btn w3-green w3-left-align" type="submit" value="Edit"></input>
								</div>
							</form>
						</div>
						<div>
							<form ng-show="showSaveOfficeForm" ng-submit="createNewOffice()">
								<h2>Create Office Form</h2>
								<p><label class="w3-label">Name:</label></p>
								<input class="w3-input w3-border w3-padding-hor-16" id="textInput" placeholder="Name" ng-model="officeNameForCreation" required>

								<p><label class="w3-label">Address:</label></p>
								<input class="w3-input w3-border w3-padding-hor-16" id="textInput" placeholder="Address" ng-model="officeAddressForCreation" required>

								<md-content>
									<p><label class="w3-label">Date Of Foundation:</label></p>
									<p><md-datepicker ng-model="officeDateOfFoundtationForCreation" md-placeholder="Date Of Foundation"></md-datepicker>
								</md-content>

								<div class="w3-padding-8">
									<input class="w3-btn w3-green w3-left-align" type="submit" value="Create"></input>
								</div>
							</form>
						</div>
						<div>
							<form ng-show="showSaveDepartmentForm" ng-submit="createNewDepartment()">
								<h2>Create Department Form</h2>
								<p><label class="w3-label">Name:</label></p>
								<input class="w3-input w3-border w3-padding-hor-16" id="textInput" placeholder="Name" ng-model="departmentNameForCreation" required>

								<md-content>
									<p><label class="w3-label">Date Of Foundation:</label></p>
									<p><md-datepicker ng-model="departmentDateOfFoundtationForCreation" md-placeholder="Date Of Foundation"></md-datepicker>
								</md-content>

								<p><label class="w3-label">Office:</label></p>
								<md-input-container style="width: 140px; padding-left: 15px">
									<label>Offices</label>
									<md-select ng-model="selectedOfficeIdForCreation">
										<md-option ng-repeat="office in offices" value="{{office.id}}">{{office.name}}</md-option>
									</md-select>
								</md-input-container>

								<div class="w3-padding-8">
									<input class="w3-btn w3-green w3-left-align" type="submit" value="Create"></input>
								</div>
							</form>
						</div>
					</md-content>
				</md-tab>
				<md-tab label="User and Worker Management">	
					<md-content class="md-padding">
						<div class="w3-border w3-round w3-padding-medium">
							<input class="w3-btn w3-green w3-padding-tiny" ng-click="openSaveUser()" value="Add New User"></input>
							<input class="w3-btn w3-green w3-padding-tiny" ng-click="openSaveWorker()" value="Add New Worker"></input>
						</div>
						<form ng-show="showSaveUserForm" ng-submit="createNewUser()">
							<h2>Create User Form</h2>
							<p><label class="w3-label">Login Name:</label></p>
							<input class="w3-input w3-border w3-padding-hor-16" id="textInput" placeholder="Name" ng-model="loginName" required>

							<p><label class="w3-label">Role:</label></p>
							<md-input-container style="width: 140px; padding-left: 15px">
								<label>Roles</label>
								<md-select ng-model="selectedRoleForCreation">
									<md-option ng-repeat="role in roles" value="{{role.id}}">{{role.name}}</md-option>
								</md-select>
							</md-input-container>

							<div class="w3-padding-8">
								<input class="w3-btn w3-green w3-left-align" type="submit" value="Create"></input>
							</div>
						</form>
						<form ng-show="showSaveWorkerForm" ng-submit="createNewWorker()">
							<h2>Create Worker Form</h2>
							<p><label class="w3-label">First Name:</label></p>
							<input class="w3-input w3-border w3-padding-hor-16" id="textInput" placeholder="Name" ng-model="firstName" required>

							<p><label class="w3-label">Last Name:</label></p>
							<input class="w3-input w3-border w3-padding-hor-16" id="textInput" placeholder="Name" ng-model="lastName" required>

							<div class="w3-padding-8">
								<input class="w3-btn w3-green w3-left-align" type="submit" value="Create"></input>
							</div>
						</form>
					</md-content>
				</md-tab>
			</md-tabs>
		</md-content>
	</div>
</div>