<div ng-controller="HomeController" ng-include="'modules/home/home.menu.html'"></div>
<div class="page-element">
	<div ng-include="'modules/home/home.header.html'"></div>
	<md-content>
		<md-tabs md-dynamic-height="" md-border-bottom="">
			<md-tab label="Office and Department Management">
				<md-content class="md-padding">
					<div class="w3-border w3-round w3-padding-medium">
						<md-input-container style="width: 140px; padding-left: 15px">
							<label>Offices</label>
							<md-select ng-model="vm.selectedOfficeName" md-on-close="vm.setDepartments()" md-on-open="openSelect()">
								<md-option ng-repeat="office in vm.offices" value="{{office.name}}">{{office.name}}</md-option>
							</md-select>
						</md-input-container>
						<md-input-container style="width: 140px; padding-left: 15px">
							<label>Departments</label>
							<md-select ng-model="vm.selectedDepartmentName" md-on-close="vm.listInformation()">
								<md-option ng-repeat="department in vm.departmentsForOffice" value="{{department.name}}">{{department.name}}</md-option>
							</md-select>
						</md-input-container>
						<br>
						<div ng-show="vm.showODInformation">
							<div class="tooltip">
								<span class="fa fa-edit w3-xlarge" ng-click="vm.openEditOffice()"></span>
								<span class="tooltiptext">Edit Office</span>
							</div> Office: <br>
							<div class="w3-margin-left">
								Name: {{vm.officeName}}<br>
								Address: {{vm.officeAddress}}<br>
								Date Of Foundation: {{vm.officeDateOfFoundtation}}<br>
								Number Of Worker: {{vm.officeWorkerNumber}}<br>
							</div>
							<div class="tooltip">
								<span class="fa fa-edit w3-xlarge" ng-click="vm.openEditDepartment()"></span>
								<span class="tooltiptext">Edit Department</span>
							</div> Department: <br>
							<div class="w3-margin-left">
								Name: {{vm.departmentName}}<br>
								Date Of Foundation: {{vm.departmentDateOfFoundtation}}<br>
								Number Of Worker: {{vm.departmentWorkerNumber}}<br>
							</div>
						</div>
						<br>
						<input class="w3-btn w3-green w3-padding-tiny" ng-click="vm.openSaveOffice()" value="Add New Office"></input>
						<input class="w3-btn w3-green w3-padding-tiny" ng-click="vm.openSaveDepartment()" value="Add New Department"></input>
					</div>
					<div>
						<form ng-show="vm.showEditOfficeForm" ng-submit="vm.editOffice()">
							<h2>Edit Office Form</h2>
							<p><label class="w3-label">Name:</label></p>
							<input class="w3-input w3-border w3-padding-hor-16" id="textInput" placeholder="Name" ng-model="vm.officeName" required>
    
							<p><label class="w3-label">Address:</label></p>
							<input class="w3-input w3-border w3-padding-hor-16" id="textInput" placeholder="Address" ng-model="vm.officeAddress" required>
    
							<md-content>
								<p><label class="w3-label">Date Of Foundation:</label></p>
								<p><md-datepicker ng-model="vm.officeDateOfFoundtationForEdit" md-placeholder="Date Of Foundation"></md-datepicker>
							</md-content>
    
							<div class="w3-padding-8">
								<input class="w3-btn w3-green w3-left-align" type="submit" value="Edit"></input>
							</div>
						</form>
					</div>
					<div>
						<form ng-show="vm.showEditDepartmentForm" ng-submit="vm.editDepartment()">
							<h2>Edit Department Form</h2>
							<p><label class="w3-label">Name:</label></p>
							<input class="w3-input w3-border w3-padding-hor-16" id="textInput" placeholder="Name" ng-model="vm.departmentName" required>
    
							<md-content>
								<p><label class="w3-label">Date Of Foundation:</label></p>
								<p><md-datepicker ng-model="vm.departmentDateOfFoundtationForEdit" md-placeholder="Date Of Foundation"></md-datepicker>
							</md-content>
    
							<div class="w3-padding-8">
								<input class="w3-btn w3-green w3-left-align" type="submit" value="Edit"></input>
							</div>
						</form>
					</div>
					<div ng-show="vm.showSaveOfficeForm">
						<addition-office-form offices="vm.offices"></addition-office-form>
					</div>
					<div ng-show="vm.showSaveDepartmentForm">
						<addition-department-form offices="vm.offices" departments="vm.departments"></addition-department-form>
					</div>
				</md-content>
			</md-tab>
			<md-tab label="User and Worker Management">	
				<md-content class="md-padding">
					<form ng-submit="vm.createNewUserAndWorker()">
						<h2>User Related Data</h2>
						<p><label class="w3-label">Login Name:</label></p>
						<input class="w3-input w3-border w3-padding-hor-16" id="textInput" placeholder="Name" ng-model="vm.loginName" required>
    
						<p><label class="w3-label">Role:</label></p>
						<md-input-container style="width: 140px; padding-left: 15px">
							<label>Roles</label>
							<md-select ng-model="vm.selectedRoleForCreation">
								<md-option ng-repeat="role in vm.roles" value="{{role.id}}">{{role.name}}</md-option>
							</md-select>
						</md-input-container>
    
						<h2>Worker Related Data</h2>
						<p><label class="w3-label">First Name:</label></p>
						<input class="w3-input w3-border w3-padding-hor-16" id="textInput" placeholder="Name" ng-model="vm.firstName" required>
    
						<p><label class="w3-label">Last Name:</label></p>
						<input class="w3-input w3-border w3-padding-hor-16" id="textInput" placeholder="Name" ng-model="vm.lastName" required>
    
						<p><label class="w3-label">Gender:</label></p>
						<md-input-container style="width: 140px; padding-left: 15px">
							<label>Genders</label>
							<md-select ng-model="vm.selectedGender">
								<md-option value="1">Male</md-option>
								<md-option value="2">FeMale</md-option>
							</md-select>
						</md-input-container>
    
						<md-content>
							<p><label class="w3-label">Date Of Birth:</label></p>
							<p><md-datepicker ng-model="vm.dateOfBirth" md-placeholder="Date Of Birth"></md-datepicker>
						</md-content>
    
						<p><label class="w3-label">Nationality:</label></p>
						<input class="w3-input w3-border w3-padding-hor-16" id="textInput" placeholder="Nationality" ng-model="vm.nationality" required>
    
						<p><label class="w3-label">Position:</label></p>
						<input class="w3-input w3-border w3-padding-hor-16" id="textInput" placeholder="Position" ng-model="vm.position" required>
    
						<p><label class="w3-label">Daily Work Hour Total:</label></p>
						<input class="w3-input w3-border w3-padding-hor-16" id="textInput" placeholder="Daily Work Hour Total" ng-model="vm.dailyWorkHourTotal" required>
    
						<p><label class="w3-label">Email Addres:</label></p>
						<input class="w3-input w3-border w3-padding-hor-16" id="textInput" placeholder="Email Addres" ng-model="vm.emailAddres" required>
    
						<p><label class="w3-label">Department:</label></p>
						<md-input-container style="width: 140px; padding-left: 15px">
							<label>Departments</label>
							<md-select ng-model="vm.selectedDepartmentIdForWorkerCreation">
								<md-option ng-repeat="department in vm.departments" value="{{department.id}}">{{department.name}}</md-option>
							</md-select>
						</md-input-container>
    
						<p><label class="w3-label">Superior:</label></p>
						<md-input-container style="width: 140px; padding-left: 15px">
							<label>Superiors</label>
							<md-select ng-model="vm.selectedSuperiorIdForWorkerCreation">
								<md-option ng-repeat="superior in vm.superiors" value="{{superior.id}}">{{superior.firstName+' '+superior.lastName}}</md-option>
							</md-select>
						</md-input-container>
    
						<div class="w3-padding-8">
							<input class="w3-btn w3-green w3-left-align" type="submit" value="Create"></input>
						</div>
					</form>
				</md-content>
			</md-tab>
		</md-tabs>
	</md-content>
</div>